# macOS
*.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# IDE
.idea
.vscode

# Static && cache
.next
dist
out

# Tests
coverage
